version: '3.8'
services:
  db:
    image: postgres:16
    container_name: estoque-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: estoque
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: estoque-adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  pgdata: {}

