spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/estoque
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080
